<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="topbar">
      <div class="topbar-title-row">
        <a href="{{ site.baseurl }}/" class="topbar-title">{{ site.title }}</a>
      </div>
      <div class="topbar-sub-row">
        <ul class="topbar-social">
          {% if site.social.email %}
            <li><a target="_blank" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
          {% endif %}
          {% if site.social.github %}
            <li><a target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
          {% endif %}
          {% if site.social.twitter %}
            <li><a target="_blank" href="{{ site.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
          {% endif %}
        </ul>
        <span class="topbar-uv" id="busuanzi_container_site_uv">
          全站访问量 <span id="busuanzi_value_site_uv"></span> 次
        </span>
      </div>
    </header>

    <div class="wrapper">
      <aside class="sidebar">
        <ul class="post-list">
          {% for post in site.posts %}
            <li class="post-list-item">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link" title="{{ post.title }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </aside>

      <div class="content-area">
        <main>
          {{ content }}
        </main>

        <footer>
          <span>
            &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
          </span>
        </footer>
      </div>
    </div>
  </body>
</html>
