---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 12 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-item newer">← 较新</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="pagination-item current">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl }}" class="pagination-item">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | replace: ':num', page | prepend: site.baseurl }}" class="pagination-item">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-item older">较旧 →</a>
    {% endif %}
  {% endif %}
</div>
